table {
    width: 100%;
}

thead {
    height: 60px;
    font-weight: 500;
    font-size: 20px;
}

thead,
tbody {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(224, 224, 224);
}

tr {
    height: 70px;
}