.my-navbar {
    background-color: white;
    box-shadow: rgba(90, 114, 123, 0.11) 0px 7px 30px 0px;

    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    box-sizing: border-box;
    padding: 20px 250px;
    margin-bottom: 80px;
    font-family: "DM Sans", sans-serif;
    color: #2E4053;
}

.navbar-title {
    display: flex;
    align-items: center;

    font-weight: 400;
    font-size: 35px;
    line-height: 1.5;
}

.navbar-title>.svg-inline--fa.fa-building-columns {
    font-size: larger;
    margin-right: 20px;
}

.navbar-options,
.navbar-profile {
    display: flex;
}

.border-line {
    border-right: solid;
    border-color: lightgray;
}

.navbar-option {
    border-right: solid 1px;
}

.navbar-option,
.navbar-profile-item {
    padding: 0 10px;
    text-transform: uppercase;
    cursor: pointer;
}

.navbar-profile-messages,
.navbar-profile-user {
    font-size: 20px;
    cursor: pointer;
}

.navbar-right-side {
    display: flex;
    font-size: 20px;
    padding: 10px;
    align-items: center;
}