body {
    background-color: rgb(250, 251, 251);
    font-family: roboto,sans-serif;
    color: #333
}

html,
body,
#root {
    height: 100%;
    margin: 0px;
}

.component {
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
    margin: 0px auto;
}
